# Android Studio
*.iml
.idea/
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Local config
local.properties

# OS files
.DS_Store

# Others
*.log
*.keystore

# Specific to Android Studio
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Kotlin/Java build
*.class

